/*
    Theme Name: CVHM Bootstrap
    Theme URI: https://crossvalleyhealth.com
    Description: Cross Valley Health Bootstrap Theme
    Author: Kevin Masters
    Author URI: https://kevinmasters.com
    Template: wp-bootstrap-starter
    Version: 1.0.0
    License: GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Tags: bootstrap, responsive
    Text Domain: cvhm-bootstrap
*/

/*
  -=-Table of Contents (CTRL+F)-=-
  General styles
  Header styles
  Top Navigation styles
  Home
  Home hero
  Home Blue ribbon (HIPPA and SSL logos in OG comp)
  Home Icon ribbon (CVHM Difference, icons, 4 columns)
  Home Practitioner CTA
  Medical Marijuana CTA
  Home News and Links

*/

/* General Styles */
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px;
  }
}

body {
    color: #11406c;
}

h1, h2, h3, h4, h5, h6 {
  color: #2675ba;
  font-weight: 700;
}

/* header styles */
header#masthead {
  background-color: #11406a;
}
body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover {
  font-weight: bold;
}
header#masthead #menu-main-menu {
  margin-top: 10px;
}
header#masthead #navs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Top Navigation Styles */

/* dropdown nav links on hover */
.navbar-nav > li:hover > .dropdown-menu {
    display: block;
    top: 30px;
}
.navbar-nav li > .dropdown-menu li:hover .dropdown-menu {
    left: 190px;
    top: 0;
    width: 200px !important;
    display: block;
}
#masthead #header-nav  {
    display: flex;
}
#masthead #header-nav .navbar-nav > li {
    margin-right: 13px;
}
#masthead #header-nav .navbar-nav > li.spanish-link {
    margin-right: 0;
}
body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li > a {
  text-transform: none;
  padding: 10px 20px 10px 50px;
  background-color: #154b7a;
  background-repeat: no-repeat;
  background-position: 20px center;
  color: #cbcdcc;
}
body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li.spanish-link > a {
    background-color: transparent;
}
#header-nav .navbar-nav > li.nav-pay > a {
  background-image: url(./assets/images/hold-icon.jpg);
}
#header-nav .navbar-nav > li.nav-portal > a {
  background-image: url(./assets/images/hold-icon.jpg);
}
#header-nav .navbar-nav > li.nav-form > a {
  background-image: url(./assets/images/hold-icon.jpg);
}

#headerInfo {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    display: flex;
}
.header-info {
    display: block;
    line-height: 20px;
    padding-left: 30px;
    margin-right: 20px;
    background-image: url(./assets/images/hold-icon.jpg);
    background-repeat: no-repeat;
    background-position: 5px center;
}
/* Home */
.home #content {
  padding-top: 0;
}

.home .entry-content {
  margin-top: 0;
}

/* Home hero */
#homeHero .vce-col {
  padding-top: 123px;
  padding-left: 116px;
  padding-right: 70px;
}
#homeHero .vce-col + .vce-col {
  padding-left: 165px;
  padding-right: 24px;
}
#homeHero .vce-col p.herotitle {
  font-size: 1.4rem;
  margin-bottom: .7rem;
}
#homeHero .vce-col h2 {
  font-size: 2.6rem;
  margin-bottom: 1.3rem;
  padding-bottom: .1rem;
  color: #11406c;
}
#homeHero .vce-col h2 + p {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

#homeHero button {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 69px;
}
#homeHero button::after {
  content: " \2192";
}

#homeHero .vce-col + .vce-col button {
    padding: 18px 41px;
}

/* Home Blue Ribbon */
#blueRibbon .vce-row .vce-row {
  padding-top: 25px;
}
#blueRibbon h2 {
  color: #fff;
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 0;
    color: #11406c;
}
#blueRibbon h2 + p {
  font-size: 20px;
  font-weight:700;
}
#blueRibbon .vce-text-block-wrapper.vce {
  margin-bottom: 1rem;
}
#blueRibbonLogos {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}
#blueRibbonLogos > img {
  margin-right: 20px;
}

/* Home Icon ribbon */
#iconRibbonTitle {
  padding-top: 78px;
}
#iconRibbonTitle h2 {
  color: #2875b9;
  text-transform: uppercase;
  font-size: 32px;
}
#iconRibbon {
  padding-top: 10px;
  padding-bottom: 115px;
}
#iconRibbon h3 {
  font-size: 18px;
  color: #11406c;
  margin-bottom: 17px;
}
#iconRibbon p {
  font-size: 14px;
}
#iconRibbon .vce-row--col-gap-30>.vce-row-content>.vce-col {
  margin-right: 83px;
}
#iconRibbon .vce-row > .vce-row-content > .vce-col.vce-col--xl-last {
    margin-right: 0;
}

/* Home Practitioner CTA */
#partnersHome {
  background: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
}
#partnersHome .vce-text-block {
  padding-right: 20px;
  padding-left: 50px;
  max-width: 450px;
}
#partnersHome h2 {
  font-size: 30px;
  line-height: 40px;
  color: #2875b9;
  text-transform: uppercase;
}
#partnersHome p {
  font-size: 14px;
  line-height: 24px;
}
#partnersHome .vce-button--style-basic-container {
  margin-left: 50px;
  margin-top: 50px;
}
#partnersHome .vce-button--style-basic-container button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  padding: 10px 36px;
}
/* Medical Marijuana CTA */
#marijuanaCTA > .vce-row {
    padding-top: 133px;
}
#marijuanaCTA h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: .6rem;
}
#marijuanaCTA h3 {
    font-size: 26px;
    margin-bottom: 50px;
      color: #11406c;
}
#marijuanaCTA button {
    margin-bottom: 138px;
    font-weight: 700;
}
/* Home News and Links */
#homeNewsLinks {
    padding-top: 75px;
}
#homeNewsLinks .vce-col {
    text-align: center;
}
#homeNewsLinks .vce-row--col-gap-30 > .vce-row-content > .vce-col {
    margin-right: 15px;
}
#homeNewsLinks .vce-row > .vce-row-content > .vce-col.vce-col--xl-last {
    margin-left: 15px;
}
#homeNewsLinks .vce-col--md-first .vce-widgets-container {
    border-right: 1px solid #b7b8ba
}
#homeNewsLinks h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2774ba;
}
#homeNewsLinks ul {
    list-style-type: none;
    padding: 0;
}
#homeNewsLinks ul li {
    margin-top: 46px;
    font-size: 16px;
}
#homeNewsLinks ul li a {
    color: #0f4069;
    font-weight: 600;
}
#homeNewsLinks ul li:after {
    content: " \203A";
}

/* Pages */

h1.entry-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 33px;
    border: none;
    margin-bottom: 75px;
}
body:not(.home) .entry-content {
    max-width: 1140px;
    margin: 0 auto;
}
/* Frequently Asked Questions */
.ufaq-faq-list {
    max-width: 916px;
    margin: 0 auto;
}
.ufaq-faq-category-title {
    margin-bottom: 20px;
}
.ufaq-faq-div {
  border: 1px solid #b7b7b7;
  padding: 4px 0 5px;
  margin-bottom: 10px;
}
div.ufaq-faq-title div.ewd-ufaq-post-margin-symbol {
  margin-left: 15px;
  margin-top: 2px;
  border: 1px solid #2675ba;
  border-radius: 34px;
  padding: 4px 4px 3px;
}
.ufaq-faq-title-text h4{
    font-weight: 500;
    font-size: 15px;
    color: #11406c;
}
.ufaq-faq-title .ewd-ufaq-post-margin-symbol span {
  font-size: 15px;
}
.ewd-ufaq-author-date,
.ufaq-faq-categories {
  display: none;
}

/* footer styles */
body:not(.theme-preset-active) footer#colophon {
  background-color: #11406a;
}
footer .site-info img {
  display: block;
  margin: 0 auto 105px;
}

#footer-widget .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#footer-widget .widget {
    font-size: 12px;
    color: #fff;
}
#footer-widget .widget-col {
  width: 200px;
}
#footer-widget .widget-col.at-140 {
  width: 140px;
}
#footer-widget .widget-col.at-170 {
  width: 170px;
}
#footer-widget .widget-col.at-180 {
  width: 180px;
}

#footer-widget h3.widget-title {
    font-size: 12px;
    color: #fff;
    margin-bottom: 0;
}
#footer-widget a.nav-link,
footer#colophon #footer-widget a {
    color: #618fb0;
    display: inline;
    padding: 0;
}

@media (max-width: 768px) {
    .navbar-brand {
        width: 80px;
        position: absolute;
        top: 0;
    }
    .navbar-light .navbar-toggler {
        width: 50px;
        align-self: flex-end;
        order: 0;
    }
    #main-nav {
        order: 2;
        padding-bottom: 20px;
    }
    #menu-main-menu {
        text-align: center;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

    }
    #masthead #header-nav {
        order: 1;
    }
    #headerInfo {
        order: 3;
        display: block;
    }
    #headerInfo span {
        display: block;
    }
    #headerSocial {
        float: right;
    }

    #homeHero .vce-col,
    #homeHero .vce-col + .vce-col {
        padding: 10px;
    }
    #homeHero #el-fbc72ba8[data-vce-do-apply*=margin][data-vce-do-apply*=el-fbc72ba8] {
        margin-bottom: 20px;
    }
}
