/*
    Theme Name: CVHM Bootstrap
    Theme URI: https://crossvalleyhealth.com
    Description: Cross Valley Health Bootstrap Theme
    Author: Kevin Masters
    Author URI: https://kevinmasters.com
    Template: wp-bootstrap-starter
    Version: 1.0.0
    License: GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Tags: bootstrap, responsive
    Text Domain: cvhm-bootstrap
*/

/*
  -=-Table of Contents (CTRL+F)-=-
  General styles
  Header Styles
  Top Navigation styles
  Home
  Home hero
  Home Blue Ribbon (HIPPA and SSL logos in OG comp)
  Home Icon Ribbon (CVHM Difference, icons, 4 columns)
  Home Practitioner CTA
  Medical Marijuana CTA
  Home News and Links
  Pages
  Contact Us & Patient Portal
  Pay Your Bill
  Frequently Asked Questions
  Footer Styles
  Responsive Rules
*/

/* General Styles */
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px;
  }
}

body {
    color: #11406c;
}

h1, h2, h3, h4, h5, h6 {
  color: #2675ba;
  font-weight: 700;
}

/* Header Styles */
header#masthead {
  background-color: #11406a;
  padding-top: 0;
  padding-bottom: 0;
}
#masthead nav.navbar {
  align-items: flex-start;
}
body:not(.theme-preset-active) #masthead .navbar-nav > li > a,
body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover,
body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a
 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: 16px;
}

header#masthead #menu-main-menu {
  margin-top: 10px;
}
header#masthead #navs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.navbar-brand {
  margin-top: 12px;
  margin-bottom: 16px;
}
/* hide mobile logo */
#navs > .navbar-brand { display: none; }
/* Top Navigation Styles */

/* dropdown nav links on hover */
.navbar-nav > li:hover > .dropdown-menu {
    display: block;
    top: 30px;
}
.navbar-nav li > .dropdown-menu li:hover .dropdown-menu {
    left: 190px;
    top: 0;
    width: 200px !important;
    display: block;
}
#masthead #header-nav  {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 14px;
}
#masthead #header-nav .navbar-nav > li {
    margin-right: 13px;
}
#masthead #header-nav .navbar-nav > li.spanish-link {
    margin-right: 0;
}
#masthead #header-nav .navbar-nav > li.ingles-link {
    margin-right: 0;
    display: none;
}

html[lang=es] #masthead #header-nav .navbar-nav > li.ingles-link {
  display: list-item;
}
html[lang=en] #masthead #header-nav .navbar-nav > li.ingles-link {
  display: none;
}
html[lang=es] #masthead #header-nav .navbar-nav > li.spanish-link {
  display: none;
}
html[lang=en] #masthead #header-nav .navbar-nav > li.spanish-link {
  display: list-item;
}

body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li > a {
  text-transform: none;
  padding: 10px 20px 10px 50px;
  background-color: #154b7a;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 19px;
  font-size: 14px;
  color: #cbcdcc;
}
body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li.ingles-link > a,
body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li.spanish-link > a {
    background-color: transparent;
    padding-left: 35px;
    padding-right: 35px;
}
#header-nav .navbar-nav > li.nav-pay > a {
  background-image: url(./assets/images/payment.png);
}
#header-nav .navbar-nav > li.nav-portal > a {
  background-image: url(./assets/images/patient.png);
}
#header-nav .navbar-nav > li.nav-form > a {
  background-image: url(./assets/images/forms.png);
}
#header-nav .navbar-nav > li.nav-fb {
  display: none;
}
#main-nav {
  margin-bottom: 10px;
}

#headerInfo {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
}
#headPhone a {
  text-decoration: none;
  color: inherit;
}
#headPhone a#headerSocial {
  margin-left: 17px;
}
.header-info {
    display: block;
    line-height: 20px;
    padding-left: 30px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: 5px center;
}
#headLocation {
  background-image: url(./assets/images/hold-icon.jpg);
}
#headPhone {
  background-image: url(./assets/images/hold-icon.jpg);
}
/* Home */
.home #content {
  padding-top: 0;
}

.home .entry-content {
  margin-top: 0;
}

/* Home hero */
#homeHero .vce-col {
  padding-top: 123px;
  padding-left: 116px;
  padding-right: 70px;
}
#homeHero .vce-col + .vce-col {
  padding-left: 165px;
  padding-right: 24px;
}
#homeHero .vce-col p.herotitle {
  font-size: 1.4rem;
  margin-bottom: .7rem;
}
#homeHero .vce-col h2 {
  font-size: 2.6rem;
  margin-bottom: 1.3rem;
  padding-bottom: .1rem;
  color: #11406c;
}
#homeHero .vce-col h2 + p {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

#homeHero button {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 69px;
}
#homeHero button::after {
  content: " \2192";
}

#homeHero .vce-col + .vce-col button {
    padding: 18px 41px;
}

/* Home Blue Ribbon */
#blueRibbon .vce-row .vce-row {
  padding-top: 25px;
}
#blueRibbon h2 {
  color: #fff;
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 0;
    color: #11406c;
}
#blueRibbon h2 + p {
  font-size: 20px;
  font-weight:700;
}
#blueRibbon .vce-text-block-wrapper.vce {
  margin-bottom: 1rem;
}
#blueRibbonLogos {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}
#blueRibbonLogos > img {
  margin-right: 20px;
}

/* Home Icon Ribbon */
#iconRibbonTitle {
  padding-top: 78px;
}
#iconRibbonTitle h2 {
  color: #2875b9;
  text-transform: uppercase;
  font-size: 32px;
}
#iconRibbon {
  padding-top: 10px;
  padding-bottom: 115px;
}
#iconRibbon h3 {
  font-size: 18px;
  color: #11406c;
  margin-bottom: 17px;
}
#iconRibbon p {
  font-size: 14px;
}
#iconRibbon .vce-row--col-gap-30>.vce-row-content>.vce-col {
  margin-right: 83px;
}
#iconRibbon .vce-row > .vce-row-content > .vce-col.vce-col--xl-last {
    margin-right: 0;
}

/* Home Practitioner CTA */
#partnersHome {
  background: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
}
#partnersHome .vce-text-block {
  padding-right: 20px;
  padding-left: 50px;
  max-width: 450px;
}
#partnersHome h2 {
  font-size: 30px;
  line-height: 40px;
  color: #2875b9;
  text-transform: uppercase;
}
#partnersHome p {
  font-size: 14px;
  line-height: 24px;
}
#partnersHome .vce-button--style-basic-container {
  margin-left: 50px;
  margin-top: 50px;
}
#partnersHome .vce-button--style-basic-container button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  padding: 10px 36px;
}
/* Medical Marijuana CTA */
#marijuanaCTA > .vce-row {
    padding-top: 133px;
}
#marijuanaCTA h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: .6rem;
}
#marijuanaCTA h3 {
    font-size: 26px;
    margin-bottom: 50px;
      color: #11406c;
}
#marijuanaCTA button {
    margin-bottom: 138px;
    font-weight: 700;
}
/* Home News and Links */
#homeNewsLinks {
    padding-top: 75px;
}
#homeNewsLinks .vce-col {
    text-align: center;
}
#homeNewsLinks .vce-row--col-gap-30 > .vce-row-content > .vce-col {
    margin-right: 15px;
}
#homeNewsLinks .vce-row > .vce-row-content > .vce-col.vce-col--xl-last {
    margin-left: 15px;
}
#homeNewsLinks .vce-col--md-first .vce-widgets-container {
    border-right: 1px solid #b7b8ba
}
#homeNewsLinks h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2774ba;
}
#homeNewsLinks ul {
    list-style-type: none;
    padding: 0;
}
#homeNewsLinks ul li {
    margin-top: 46px;
    font-size: 16px;
}
#homeNewsLinks ul li a {
    color: #0f4069;
    font-weight: 600;
}
#homeNewsLinks ul li:after {
    content: " \203A";
}

/* Pages */

h1.entry-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 33px;
    border: none;
    margin-bottom: 75px;
}
body:not(.home) .entry-content {
    max-width: 1140px;
    margin: 0 auto;
}

/* Contact Us & Patient Portal */
#wpcf7-f4-p20-o1,
#wpcf7-f623-p364-o1 {
  background-color: #458fcc;
  padding: 25px 36px 37px 36px;
  color: #fff;
}
#wpcf7-f4-p20-o1 p,
#wpcf7-f623-p364-o1 p {
  font-weight: bold;
  font-size: 24px;
}
#wpcf7-f4-p20-o1 label,
#wpcf7-f623-p364-o1 label {
  display: none;
}
#wpcf7-f4-p20-o1 .form-control,
#wpcf7-f623-p364-o1 .form-control {
  border-radius: 0;
}
#wpcf7-f4-p20-o1 .form-group,
#wpcf7-f623-p364-o1 .form-group {
  margin-bottom: .5rem;
}
#wpcf7-f4-p20-o1 textarea,
#wpcf7-f623-p364-o1 textarea {
  height: 150px;
}
#wpcf7-f4-p20-o1 .btn-primary,
#wpcf7-f623-p364-o1 .btn-primary {
  background-color: #154b7a;
}
/* Pay Your Bill */
button#payNow {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 45px;
}
/* Frequently Asked Questions */
.ufaq-faq-list {
    max-width: 916px;
    margin: 0 auto;
}
.ufaq-faq-category-title {
    margin-bottom: 20px;
}
.ufaq-faq-div {
  border: 1px solid #b7b7b7;
  padding: 4px 0 5px;
  margin-bottom: 10px;
}
div.ufaq-faq-title div.ewd-ufaq-post-margin-symbol {
  margin-left: 15px;
  margin-top: 2px;
  border: 1px solid #2675ba;
  border-radius: 34px;
  padding: 4px 4px 3px;
}
.ufaq-faq-title-text h4{
    font-weight: 500;
    font-size: 15px;
    color: #11406c;
}
.ufaq-faq-title .ewd-ufaq-post-margin-symbol span {
  font-size: 15px;
}
.ewd-ufaq-author-date,
.ufaq-faq-categories {
  display: none;
}

/* Footer Styles */
body:not(.theme-preset-active) footer#colophon {
  background-color: #11406a;
}
footer .site-info img {
  display: block;
  margin: 0 auto 105px;
}

#footer-widget .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#footer-widget .widget {
    font-size: 12px;
    color: #fff;
}
#footer-widget .widget-col {
  width: 200px;
}
#footer-widget .widget-col.at-140 {
  width: 140px;
}
#footer-widget .widget-col.at-170 {
  width: 170px;
}
#footer-widget .widget-col.at-180 {
  width: 180px;
}

#footer-widget h3.widget-title {
    font-size: 12px;
    color: #fff;
    margin-bottom: 0;
}
#footer-widget a.nav-link,
footer#colophon #footer-widget a {
    color: #618fb0;
    display: inline;
    padding: 0;
}

/* Responsive Rules */
@media (max-width: 1199px) {
  header#masthead,
  #masthead .container-fluid {
    padding: 0;
  }
  body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li > a {
    font-size: 10px;
    font-weight: normal;
    color: #fff;
    background-color: transparent;
  }
  #navs .navbar-brand {
    display: flex;
    order: 2;
    justify-content: space-around;
    align-items: center;
   }
   #navs .navbar-brand img {
     width: 140px;
   }
  .navbar > .navbar-brand { display: none;}
  .navbar-light .navbar-toggler {
      width: 50px;
      align-self: flex-end;
      order: 3;
  }
  #main-nav {
      order: 4;
      padding-bottom: 20px;
  }
  #menu-main-menu {
      text-align: center;
  }
  #masthead #header-nav .navbar-nav > li {
    margin-right: 0;
  }
  body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li.ingles-link > a, body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li.spanish-link > a {
    padding: 10px 20px 10px 50px;
  }
  body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li.spanish-link > a {
    background-image: url(./assets/images/spanish.png);
  }
  body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li.nav-fb > a {
    background-image: url(./assets/images/white-fb.png);
    text-indent: -1000em;
    margin-left: 10px;
  }
  .navbar-light .navbar-toggler {
    font-size: 2.25rem;
    align-self: center;
  }
  .navbar-light .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

  }
  #masthead #header-nav {
      order: 0;
      justify-content: center;
      background: #568ec7;
      margin-bottom: 0;
  }
  #header-nav #menu-top-links {
    flex-direction: row;
    align-items: center;
  }

  #headerInfo {
      order: 1;
      background: #fff;
      color: #1b2732;
      font-size: 10px;
      justify-content: center;
      padding: 15px 0;
  }

  .header-info {
    padding-left: 24px;
    background-size: 18px;
    display: flex;
    margin-right: 10px;
  }
  #headLocation {
    background-image: url(./assets/images/noun_Location_3505551.png);
    padding-left:14px;
    background-position: -3px center;
  }
  #headPhone {
    background-image: url(./assets/images/noun_call_2442988.png);
    margin-right: 0;
  }
  #header-nav .navbar-nav > li.nav-fb {
    display: flex;
  }
  #headerSocial {
    display: none;
  }
  /* temp */
  html { margin-top: 0!important;}
  #wpadminbar { display: none!important;}

}
@media (max-width: 812px) {
  html[lang=en-US] { margin-top: 0!important;}
  #wpadminbar { display: none!important;}
    .navbar-brand {

    }
    .navbar-light .navbar-toggler {
        width: 50px;
    }
    #main-nav {
        padding-bottom: 20px;
    }
    #menu-main-menu {
        text-align: center;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

    }
    body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li > a {
      font-size: 9px;
    }

    body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li > a,
    body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li.ingles-link > a, body:not(.theme-preset-active) #masthead #header-nav .navbar-nav > li.spanish-link > a {
      padding: 10px 10px 10px 35px;
      background-position: 10px center;
      text-transform: uppercase;
    }



    #masthead #header-nav {

    }
    #headerInfo {
      font-size: 8px;
    }
    #headerInfo span {

    }

    #homeHero .vce-col,
    #homeHero .vce-col + .vce-col {
        padding: 10px;
    }
    #homeHero #el-fbc72ba8[data-vce-do-apply*=margin][data-vce-do-apply*=el-fbc72ba8] {
        margin-bottom: 20px;
    }
    #homeNewsLinks .vce-col--md-first .vce-widgets-container {
      border-right: none;
    }
    #homeNewsLinks ul li {
      margin-top: 20px;
    }
    #homeNewsLinks .vce-row--col-gap-30 > .vce-row-content .vce-col,
    #homeNewsLinks .vce-row > .vce-row-content > .vce-col.vce-col--xl-last {
      margin: 0;
    }
    #homeNewsLinks ul li:after {
      content: "";
    }
    footer .site-info img {
      margin-bottom: 20px;
    }
    #footer-widget .widget-col.at-140,
    #footer-widget .widget-col.at-170,
    #footer-widget .widget-col.at-180 {
      width: 200px;
    }
}
